<!-- About -->
<div class="login-container">

    <!-- title -->
    <!-- <h1 class="login-title">
        Log In
    </h1> -->

    <!-- LogIn form-->
    <!-- <div class="container">

        <div class="input-field">
            <input id="username" type="text" class="validate username-input">
            <label for="username" class="username-label">Username</label>
        </div>

        <div class="input-field">
            <input id="password" type="text" class="validate password-input">
            <label for="password" class="password-label">Username</label>
        </div>

        <br></br>

        <ul>
            <li><a class="btn-large submit-button" href="home.html">Submit</a></li>
        </ul>

        <ul>
            <li><a class="btn-large not-reg-button" href="logIn.html">Not Registered?</a></li>
        </ul>

        <ul>
            <li><a class="btn-large forgot-button" href="logIn.html">Forgot Password?</a></li>
        </ul>

    </div> -->

</div>
