// Place all the styles related to the login controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$primary-color: #f2f2f2;
$text-icon-color: #212121;
$text-yellow: #f9a825;
$text-off-white: #f2f2f2;
$background-blue: #0277bd;

.login-container {
	position: absolute;
    height: 70%;
    width: 40%;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $primary-color;
    opacity: 0.8;
}

.login-title {
    position: relative;
	left: 50%;
	transform: translate(-50%, 0%);
    color: $text-icon-color;
    font-weight: 400;
    font-size: 80;
}

.input-field {
	position: relative;
    margin-top: 5rem !important;
}

.username-input {
    font-weight: 300;
    font-size: 40px;
    color: $text-icon-color;
}

.username-label {
    font-size: 40px;
    font-weight: 300;
}

.password-input {
    font-weight: 300;
    font-size: 40px;
    color: $text-icon-color;
}

.password-label {
    font-size: 40px;
    font-weight: 300;
}

.submit-button {
	position: relative;
    float: right;
    color: $text-icon-color;
    font-size: 1em;
    font-weight: 300;
    width: 25%;
}

.not-reg-button {
	position: relative;
    color: $text-icon-color;
    font-size: 1em;
    font-weight: 300;
    width: 50%;
}

.forgot-button {
	position: relative;
    color: $text-icon-color;
    font-size: 1em;
    font-weight: 300;
    width: 50%;
}
