// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$primary-color: #F9A825;
$primary-color-rgba: rgba(242, 242, 242, .75);
$text-icon-color: #212121;
$text-yellow: #f9a825;
$text-off-white: #f2f2f2;
$background-blue: #0277bd;

/* Landing Page
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.landing-phrase {
  position: relative;
  bottom: 0;
}

.landing-phrase > h1 {
    font-weight: 400;
    color: text-off-white;
    strong {
        font-weight: 200;
    }
}

/* Home Page
–––––––––––––––––––––––––––––––––––––––––––––––––– */
div.announcements {
  height: calc(100vh - 52px - 4rem);
  background-color: $primary-color-rgba;
  color: $text-icon-color;
  padding: 2rem;
  border-radius: 6px;
}

div.issues {
  color: $text-icon-color;
}
