<footer>
    <div class="container">

        <!-- Social Media -->
        <div class="footer-social">
            <a href="#">
                <i class="fa fa-facebook-official" aria-hidden="true"></i>
            </a>

            <a href="#">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>

            <a href="#">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
        </div>

        <!-- Mail To -->
        <a href="mailto:contact@851california.io">
            <h1 class="footer-mail-to">
                contact@851california.io
            </h1>
        </a>

        <h1 class="footer-desc">
            © 2016 David and Alex. Made with
            <i class="fa fa-heart" style="color: red"></i>
            by the 851 Crew.
        </h1>
    </div>
</footer>
