<!-- Home/Banner -->
<div class="nav">
  <a href="/" class="logo">
    <b class="logo-851">
      851
      <strong class="logo-california">
        California
      </strong>
    </b>
  </a>

        <!-- <div class="row">
            <ul class="right">
                <li><a class="login" href="/login">Log In</a></li>
            </ul>
        </div> -->

</div>
