<!-- Home/Banner -->
<div class="nav">
  <div class="container">

    <%= link_to '851 California', root_path, :class => 'logo' %>

    <!-- <a href="/login" class="login">
      Log In
    </a> -->

  </div>
</div>
